<tbody>
    <% users.forEach((user)=> { %>
        <tr>
            <td>
                <%= user.username %>
            </td>
            <td>
                <%= user.email %>
            </td>
            <td>
                <%= user.isAdmin ? 'Yes' : 'No' %>
            </td>
            <td>
                <% if (user.isAdmin) { %>
                    <form action="/demote/<%= user._id %>" method="POST" class="d-inline">
                        <button type="submit" class="btn btn-danger btn-sm">Demote</button>
                    </form>
                    <% } else { %>
                        <form action="/promote/<%= user._id %>" method="POST" class="d-inline">
                            <button type="submit" class="btn btn-success btn-sm">Promote</button>
                        </form>
                        <% } %>
            </td>
        </tr>
        <% }); %>
</tbody>